html {
	font-family: Helvetica;
	font-size: 20px;
}

body {
	margin: 0 auto;
}

#capaHome {
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-color: #242424;
	padding: 30px 0px;
	margin: 0 auto !important;

}

.home {
	max-width: 1300px;
	height: 90%;
	/* border:3px solid red; */
	margin: 0 auto;
	padding: 10px;
	gap: 30px;
	display: flex;
	/* flex-direction: column; */
	/* height: 50vh; */
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #ffffff;

}

button {
	margin: 20px 0px;
	padding: 10px 30px;
	color: white;
	background-color: green;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	/* text-align: left; */
	display: flex;
}

button:hover {
	background-color: greenyellow;
	color: black;
}

.corrig {
	background-color: greenyellow;
	color: black;
}




/* ******************************** */


#quiz-container {
	border: 2px solid #aeaeae;
	border-radius: 40px;
	padding: 40px;
	width: 900px;
}

@media (max-width:600px) {
	#quiz-container {
		padding: 20px;
	}
}

#pergunta {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: left;
}

#radio {
	padding: 10px;

}

#respostas {
	font-size: 20px;
	text-align: left;
	color: white;
	cursor: pointer;
}



#respostas {
	list-style: none;
	padding: 0;
}

#respostas li {
	margin-bottom: 20px;
}

#feedback {
	text-align: left;
}

.btt {
	flex-direction: column;
	justify-content: left;
	align-items: start;
	/* border: 2px solid red; */
}

.btt .bt {
	text-align: left;
	align-items: center;
	font-weight: 600;
}

h1 {
	color: greenyellow;
	text-align: left;
}

.acerto {
	color: greenyellow;
}

.erro {
	color: red;
}

.pontuacao-at {
	color: greenyellow;
	text-align: left;
}

.pontuacao-err {
	color: rgb(205, 0, 34);
	text-align: left;
}
